.head-name{
    margin: 0 0 40px 0;
    padding: 0;
    color: #000;
    text-align: center;
    display: block;
    font-size: 1.5em;
    font-weight: bold;

} 

.sign_form-body {
  /* background: linear-gradient(rgba(0, 0, 0, 0.8), #110c9f); */
    border-radius: 10px;
    box-shadow: 0 15px 25px ;
    box-sizing: border-box;
    padding: 20px; 
    max-width: 400px;
    width: 100%;
    margin: 50px auto;
}

.signup_form-head{
  color: #000;
  box-sizing: border-box;
}

.signup_agreement{
  margin-bottom: 20px;
}

.input{
    background:transparent;
    border: none;
    border-bottom: 1px solid #000;
    color: #000;
    font-size: 18px;
    letter-spacing: 2px;
    margin-bottom: 30px;
    outline: none;
    padding: 10px 0;
    width: 100%;
}

.button_submit {
    font-family: sans-serif;
    /* background: linear-gradient(90deg, #2b24f9, #08dcce); */
    font-size: 11px;
    border: none;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    font-weight: 600;
    padding: 10px 20px;
    letter-spacing: 2px;
    outline: none;
    text-transform: uppercase;
    text-decoration: none;
    margin: 2px 10px 2px 0;
    display: inline-block;
    background-size: 200% auto;
    transition: background-position 0.5s;
}

.button_submit a{
    color: #000;
}

.button_submit:hover {
    background-position: right center;
}

.label_controll{
  position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-right: 11px;
}

.label_text {
  color: #000;

}

.label_text a{
  line-height: 1.5;
  color: #1e87ec;
  text-decoration: none;
  pointer-events: auto;
}

